.box-content {
    justify-content: space-between;
}

.box-card {
    border: 1px solid #69a7db;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0 5px 0;
}

.box-card span {
    margin-top: 5px;
}

.left-content-header span:last-child {
    float: right;
}

.left-content-product {
    display: flex;
    justify-content: space-between;
}

.left-content-footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid #69a7db;
}

.left-content-footer button {
    width: 100%;
}

.right-content-header {
    align-items: center;
}

#modal-new-product {
    z-index: 3;
    /* display: none; */
    padding-top: 100px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-new-product form {
    display: flex;
    flex-direction: column;
    border: 1px solid #69a7db;
    width: 60%;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
}

#modal-new-product form button {
    margin: 0 5px 0 5px;
}

.modal-header {
    text-align: center;
}

.modal-header span{
    float: right;
}

.modal-header span:hover {
    cursor: pointer;
}