@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
    margin-top: 10px;
    background: #69a7db;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
    margin: 5px;
}

button:hover {
    filter: brightness(50%);
}

#container {
    position: relative;
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-max {
    height: 100vh !important;
}

.image-login {
    width: 40%;
    margin-bottom: 30px;
}

#typeUser {
    text-align: center;
}

#typeUser > div {
    display: flex;
    flex-direction: row;
}

.box-type-user {
    width: 160px;
    height: 160px;
    background: #F24452;
    font-size: 20px;
    color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: 0.3s;
}

.box-type-user:hover {
    filter: brightness(50%);
    cursor: pointer;
}

#login {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#login div:first-child, #login div:last-child {
    text-align: center;
    margin-bottom: 10px;
}

#errorLogin {
    color: #d13235;
}

.new-user-link {
    margin-top: 15px;
}

.input-cad {
    padding: 5px;
    border: 1px solid #69a7db;
    margin: 0 5px 5px 5px;
}

.label-cad {
    margin-left: 5px;
    font-size: 16px;
}

.flex-col-w {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex-row-w {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.box-content {
    justify-content: space-between;
    margin-top: 5px;
}

.box-card {
    border: 1px solid #69a7db;
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0 5px 0;
    position: relative;
}

.box-card span {
    margin-top: 5px;
}

.left-content-header span:last-child {
    float: right;
}

.left-content-product {
    display: flex;
    justify-content: space-between;
}

.left-content-footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-top: 1px solid #69a7db;
}

.left-content-footer button {
    width: 100%;
}

.right-content-header {
    align-items: center;
}

.box-content-space {
    margin-right: 5px;
}

.box-color {
    margin-right: 5px;
    border: 1px solid #69a7db;
    padding: 5px;
}

.modal-new {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-new form {
    display: flex;
    flex-direction: column;
    border: 1px solid #69a7db;
    width: 60%;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    overflow: auto;
    max-height: 80vh;
}

.modal-new form button {
    margin: 0 5px 0 5px;
}

.modal-header {
    text-align: center;
}

.modal-header span{
    float: right;
    background: red;
    padding: 3px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
}

.modal-header span:hover {
    cursor: pointer;
}

.box-content-list {
    overflow: auto;
    max-height: 42vh;
    width: 47vw;
}

.content-header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.content-header h1 {
    flex: 2;
    text-align: center;
}

.content-header span {
    background: #D93644;
    padding: 2px;
    color: #fff;
}

.content-header span:hover{
    cursor: pointer;
}