.radio-type-user {
    margin: 15px 0 10px 0;
    text-align: center;
}

.radio-type-user input {
    margin-left: 8px;
}

.div-col-2 div:first-child{
    flex: 3;
}

.div-col-2 div:last-child{
    flex: 1;
}

.check-level-risk{
    text-align: center;
    margin: 10px 0 10px 0;
}

.check-level-risk input {
    margin-left: 8px;
}

.flex-col-w select {
    height: 100%;
}